<h1>Welcome,</h1>
<h1>how can I help?</h1>
<p>
	I can do two things for you:
</p>
<br>
<div id='initiate'>
	<%= link_to 'Fortune Telling', new_fortune_teller_path, :class => "btn primary" %>
	<%= link_to 'Business Consulting (Niche Validating)', new_consulting_path, :class => "btn primary" %>
	<script>
	$('#initiate a').css('font-size','3em').css('height', '50px').css('width', '100%').css('margin-bottom', '20px');
	</script>
</div>
