<h2>Let me validate your niche.</h2>

<%= render 'consultingform' %>

<h5>I googled some emails for your testing pleasure:<h5>
<button id='showemails' class='btn primary'>Show!</button>

<script>
	$('#showemails').click(function(){
		$('#emails').toggle();	
	});
</script>
<%= link_to 'Back', queries_path %>
<div id='emails' style='display:none'>
	<textarea id='contents'><%=IO.read('shortmailinglist.txt').strip.html_safe %></textarea>

</div>