<h1>Hello, I am Sam 9000.</h1>
<h2>A fortune teller and a business consultant (yes, same thing.)</h2>
<p>
	I can do two things for you:
</p>
<ul>
	<li><%= link_to 'Fortune Telling', new_query_path %></li>
	<li><%= link_to 'Business Consulting', new_query_path %></li>
</ul>