<h2>You know, I often see images that are a bit unclear and which may sometimes mean more to you than to me; if you help, we can together uncover new things about you...</h2>
<p>I thing I have seen you in the crystal ball, but it is all very vague... <br>
	Why don't you tell me your name and email?</p>

<%= render 'form' %>

<%= link_to 'Back', queries_path %>
