<h2>You know, I often see images that are a bit unclear and which may sometimes mean more to you than to me; if you help, we can together uncover new things about you...</h2>
<p>I think I have seen you in the crystal ball, but it is all very vague... <br>
	Why don't you tell me your name and email?</p>

<%= render 'form' %>

<h5>I googled some emails for your testing pleasure:<h5>
<button id='showemails' class='btn primary'>Show!</button>

<script>
	$('#showemails').click(function(){
		$('#emails').toggle();	
	});
</script>
<%= link_to 'Back', queries_path %>
<div id='emails' style='display:none'>
	<textarea id='contents'><%=IO.read('shortmailinglist.txt').strip.html_safe %></textarea>

</div>