<h1 style='margin-bottom:10px;'>About</h1>
<p>Welcome!</p>
<p>I made this to explore the power of rails and Rapleaf.</p>
<p>If you found bugs / have a feature request / found some easter eggs / just wanna chat, <a href='mailto:s@mwong.hk' class='btn success'>you have my email.</a></p>

